{
  "repo_name": "aurbuild",
  "apikey": "changeme",
  "packages": [
    {
      "name": "google-chrome"
    },
    {
      "name": "tor-browser",
      "run_before": "gpg --auto-key-locate nodefault,wkd --locate-keys torbrowser@torproject.org"
    }
  ]
}