{
  "log_level": "info",
  "log_path": "./aur-build-server.log",

  "api_key": "changeme",
  "port": 8888,

  "repo_name": "aurbuild",
  "sign_key": null,
  "rebuild_time": 86400,

  "serve_path": "./server/serve",
  "build_logs_path": "./server/build_logs",
  "database_path": "./server/aur_build.sqlite",

  "webhooks": [
    "http://yourwebhookhost.test/webhook"
  ],
  "webhook_verify_ssl": true,
  "webhook_certificate": null
}